{% extends "base.html" %}

{% block title %}Criar Conta - Gestão de Custos{% endblock %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <div class="login-icon">
            🐂
        </div>

        <h2>
            Criar conta
        </h2>

        <p class="login-descricao">
            Cadastre seus dados para acessar
            a Gestão de Custos da Engorda.
        </p>


        <form
            method="POST"
            action="{{ url_for('cadastro') }}"
        >

            <div class="campo">

                <label for="nome">
                    Nome
                </label>

                <input
                    type="text"
                    id="nome"
                    name="nome"
                    placeholder="Digite seu nome"
                    required
                >

            </div>


            <div class="campo">

                <label for="email">
                    E-mail
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Digite seu e-mail"
                    autocomplete="email"
                    required
                >

            </div>


            <div class="campo">

                <label for="senha">
                    Senha
                </label>

                <input
                    type="password"
                    id="senha"
                    name="senha"
                    placeholder="Digite sua senha"
                    minlength="6"
                    autocomplete="new-password"
                    required
                >

            </div>


            <div class="campo">

                <label for="confirmar_senha">
                    Confirmar senha
                </label>

                <input
                    type="password"
                    id="confirmar_senha"
                    name="confirmar_senha"
                    placeholder="Digite a senha novamente"
                    minlength="6"
                    autocomplete="new-password"
                    required
                >

            </div>


            <button
                type="submit"
                class="botao login-botao"
            >
                Criar conta
            </button>

        </form>


        <div class="cadastro-link">

            <p>
                Já possui uma conta?
            </p>

            <a href="{{ url_for('login') }}">
                Voltar para o login
            </a>

        </div>


        <div class="login-info">

            <p>
                Sistema de Gestão de Custos da Engorda
            </p>

        </div>

    </div>

</div>

{% endblock %}